.btn-sidenav {
  opacity: 1;
  outline: 0;
  color: var(--color-white);
  line-height: 56px;
  position: relative;
  text-align: left;
  letter-spacing: 1px;
  display: block;
  text-decoration: none;
  font-family: var(--font-family-base);
  text-transform: uppercase;
  font-size: 1.5rem;

  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: var(--color-white);
    display: block;
    padding: 0 30px;
    transition: 0.6s;
    position: absolute;
    background: var(--color-gold);
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    border: 0px solid var(--color-gold);
  }

  &:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: var(--color-white);
    display: block;
    padding: 0 30px;
    line-height: 56px;
    transition: 0.6s;
    position: relative;
    background: transparent;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    border: 0px solid var(--color-white);
  }
}

.navbar {
  .main-btn-nav {
    width: 250px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-charade);
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 200% 100%;
  
    border-radius: 5px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .main-btn-nav:hover,
.main-btn-nav:focus {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  color: var(--color-charade);
}
.main-btn-nav.maincolor {
  background-image: linear-gradient(to right, #07E57D, #FED365, #FAA49E);
  color: var(--color-charade);
}

}

.main-btn {
  width: 306px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-charade);
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 200% 100%;

  border-radius: 5px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.main-btn:hover,
.main-btn:focus {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  color: var(--color-charade);
}


.main-btn.maincolor {
  background-image: linear-gradient(to right, #07E57D, #FED365, #FAA49E);
  color: var(--color-charade);
  // box-shadow: 0px 0px 20px  #07E57D;
}

// signup mobile button  page
.signup-page{
  .signup-trans{
    transition: all;
    // transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .translate-middle-y{
    transform: translateY(100%) !important;
   
  }
  .singupBtn{
    border: none;
    background-color: black;
    padding:8px 8px;
  }

  .main-btn-sign {
    width: 250px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-charade);
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 200% 100%;
  
    border-radius: 5px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .main-btn-sign:hover,
  .main-btn-sign:focus {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    outline: none;
    color: var(--color-charade);
  }
  
  .main-btn-sign.maincolor {
    background-image: linear-gradient(to right, #07E57D, #FED365, #FAA49E);
    color: var(--color-charade);
  }
  }




@media (max-width:750px) {
  .main-btn {
    width: 300px;
    font-size: 17px;
  }

  .logo-img {
    max-width: 175px;
  }
}


// .main-btn {
//   width: 306px;
//   font-size: 15px;
//   height: 56px;
// }



