@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --font-family-montserrat-sans-serif: 'Poppins', sans-serif;
    --font-family-base: var(--font-family-montserrat-sans-serif);
}
.font-poppins {
    font-family: var(--font-family-base);
}
.fw-100{
    font-weight: 100;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}


.fs-9{
    font-size: 9px;
}
.fs-10{
    font-size: 10px;
}
.fs-11{
    font-size: 11px;
}
.fs-12{
    font-size: 12px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fs-17{
    font-size: 17px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-24{
    font-size: 24px;
}
.fs-26{
    font-size: 26px;
}
.fs-28{
    font-size: 28px;
}
.fs-32{
    font-size: 32px;
}
.fs-38{
    font-size: 38px;
}
.fs-40{
    font-size: 40px;
}
.fs-48{
    font-size: 48px;
}
.fs-56{
    font-size: 56px;
}
.fs-164{
    font-size:164px;
}
  
.lh-18{
    line-height: 18px;
}
.lh-19{
    line-height: 19px;
}
.lh-20{
    line-height: 20px;
}
.lh-21{
    line-height: 21px;
}
.lh-22{
    line-height: 22px;
}
.lh-24{
    line-height: 24px;
}
.lh-26{
    line-height: 26px;
}
.lh-28{
    line-height: 28px;
}
.lh-30{
    line-height: 30px;
}
.lh-34{
    line-height: 34px;
}
@media (max-width: 575.98px) { 

 }

@media (max-width: 767.98px) { 

    .fs-sm-18{
        font-size: 18px;
    }
    
    .fs-sm-20{
        font-size: 20px;
    }
    
    .fs-sm-22{
        font-size: 22px;
    }
    
    .fs-sm-24{
        font-size: 24px;
    }
    
    .fs-28{
        font-size: calc(var(--font-size-md) - 0.375rem);
    }
    
    .fs-32{
        font-size: calc(var(--font-size-md) - 0.125rem);
    }
    
    .fs-38{
        font-size: calc(var(--font-size-md) + 0.125rem);
    }
    
    .fs-164{
        font-size: calc(var(--font-size-md) - 0.125rem);
    }

 }

@media (max-width: 991.98px) { 

 }
@media (max-width: 1199.98px) { 

 }

@media (max-width: 767.98px) { 
    .fs-fm-16{
        font-size: 12px;
    }
    

 }