@import "~bootstrap/scss/bootstrap";
* {
  box-sizing: border-box;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 800ms !important;
  transition-delay: 0 !important;
}
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  background-color: var(--color-woodsmoke)
}
@import './stylesheet/style.scss';